src/main/mule/httprequest-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd">
	<flow name="external-request-flow" doc:id="a954dd93-8dc1-41db-a1ac-06e70dc73631" >
		<http:listener doc:name="Listener" doc:id="7064c6f5-454d-4f41-902e-1b4788be727e" config-ref="HTTP_Listener_config" path="/test" >
			<http:error-response statusCode="#[vars.statusCode]">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	method: "GET",&#10;	host: "localhost",&#10;	path: "/fail",&#10;	uriParams: {&#10;		//id: attributes.uriParams.id&#10;	}&#10;}]' doc:name="httpRequest" doc:id="10da30ec-f9b8-423b-a863-9bca064c5ac6" variableName="httpRequest" />
		<flow-ref doc:name="httprequest-operations-subflow" doc:id="ababd724-2f93-4296-9821-7f88eaca8c2f" name="httprequest-operations-subflow"/>
		<ee:transform doc:name="response" doc:id="9a8171d5-a5a4-4353-948b-4d9d7fb7d2f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

 import * from functions::Mathe 

 output application/json 
 --- 
 payload  update { 
 	case .userId -> Multi100(payload.id default 0) 
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="httprequest-operations-subflow" doc:id="3c6d9f09-6b66-41bf-942e-7c7ead04595f" >
		<until-successful maxRetries="1" doc:name="Until Successful" doc:id="e79fd8dd-27fe-4c5e-941f-9a85bc9c3ac7" millisBetweenRetries="10000">
			<try doc:name="Try" doc:id="e5eab522-db20-4961-bbdd-4a1ca0dd7d0b" >
				<http:request method="#[vars.httpRequest.method]" doc:name="External Request" doc:id="10f7c575-66d5-4e17-af3d-de60fc90dbec" config-ref="HTTP_External_Request_Config" path="#[vars.httpRequest.path]" sendCorrelationId="ALWAYS">
			<http:uri-params><![CDATA[#[vars.httpRequest.uriParams default {}]]]></http:uri-params>
		</http:request>
			</try>
		</until-successful>
	</sub-flow>
</mule>
