src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc3d0563-f585-4035-97b5-1ab3c0833be5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="da2c309f-776d-47d6-b5a3-cb5955573853">
		<vm:connection >
			<reconnection >
				<reconnect-forever frequency="5000" />
			</reconnection>
		</vm:connection>
		<vm:queues >
			<vm:queue queueName="tt" queueType="PERSISTENT"/>
		</vm:queues>
	</vm:config>
	<flow name="init-poc-flow" doc:id="6c4e70ed-5573-4929-954f-c76938e239d3" >
		<http:listener doc:name="Listener" doc:id="1189fa29-7510-444c-acce-8150fe29d28a" config-ref="HTTP_Listener_config" path="/user/{id}">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	method: "GET",&#10;	host: "jsonplaceholder.typicode.com",&#10;	path: "todos/{id}",&#10;	uriParams: {&#10;		id: attributes.uriParams.id&#10;	}&#10;}]' doc:name="httpRequest" doc:id="f00a3094-af44-4261-a529-178f6f5d91e1" variableName="httpRequest" />
		<http:request method="#[vars.httpRequest.method]" doc:name="Request" doc:id="cf91ec84-2e39-4b09-a151-b7fff93aca68" path="#[vars.httpRequest.path]" config-ref="HTTP_Request_configuration" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[vars.httpRequest.uriParams default {}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="response" doc:id="b8bd33a9-3589-4362-8324-05aeb0260fda">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0

import * from functions::Mathe

output application/json
---
payload  update {
	case .userId -> Multi100(payload.id default 0)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="156eb292-bb78-44e0-aa97-d55b518c5b5b" >
				<ee:transform doc:name="set error on payload" doc:id="82a878c3-93aa-4d5b-9188-63e77ff50383" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
